# Ignore everything
*

# Except...
!*.vimrc
!*.vim
!*.zshrc
!*.bashrc
!.gitignore
!.gitignore_global
!.bashrc
!.codeium
!.fzf
!/.hammerspoon/
!/.hammerspoon/*
!.parsec
!.putty
!/Markdown/
!/Markdown/*
!/.scripts/
!/.scripts/*

# Ignore the entire .ssh directory
.ssh/
# Unignore only the config file in .ssh
!.ssh/config

# Unignore .config directory and its contents
!/.config
!/.config/**

# Ignore these config directories
/.config/herd-lite
/.config/github-copilot

# Unignore .github directory and its contents
!/.github
!/.github/**
