# Ignore everything
*

# Except...
!*.vimrc
!*.vim
!*.bashrc
!.gitignore
!.gitignore_global
!.bashrc
!.codeium
!.fzf
!.hammerspoon
!.parsec
!.putty
!/.config/
!/.config/*
!/Markdown/
!/Markdown/*

# Ignore the entire .ssh directory
.ssh/

# Unignore only the config file in .ssh
!.ssh/config
